/*NEW FONTS*/

/*Open Sans*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*Lobster*/
@import url('https://fonts.googleapis.com/css?family=Lobster');

/*Bebas*/
@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/Bebas/BebasNeueRegular.eot');
	src: url('../fonts/Bebas/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Bebas/BebasNeueRegular.woff2') format('woff2'),
		url('../fonts/Bebas/BebasNeueRegular.woff') format('woff'),
		url('../fonts/Bebas/BebasNeueRegular.ttf') format('truetype'),
		url('../fonts/Bebas/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Lato*/
@font-face {
font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Regular.eot');
	src: url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
		url('../fonts/Lato/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}




/*style*/
.text-box{
	padding-top: 2rem;
}
.resault {
	margin-bottom: 0;
	margin-top: 3rem;
}

.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}


/*styles for changeable text*/
.Open_Sans {
	font-family: 'Open Sans', sans-serif;
}

.Bebas {
	font-family: 'Bebas Neue', sans-serif;
}

.Lato {
	font-family: 'Lato', sans-serif;
}

.Lobster {
	font-family: 'Lobster'; 
}
