/*custom fonts family*/
@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/ProximaNova/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*Basic setting*/
html {
  font-size: 10px;
}
input:focus,
button:focus,
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.main {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background: #ffffff url(../img/main.png) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10.4rem;
}
.main-header {
  margin-top: 0px;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 4rem;
  color: #292929;
  text-transform: uppercase;
}
.main-header-subtitle {
  padding-top: 3.7rem;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 2.4rem;
  color: #292929;
}
.main-green-label {
  margin-top: 4.3rem;
  margin-bottom: 0rem;
  display: inline-block;
  padding: 2rem 4rem;
  background-color: #70c849;
  text-align: center;
}
.main-green-label p {
  margin-bottom: 0rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 1.8rem;
  color: #292929;
  color: #ffffff;
}
.main-green-label strong {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 3rem;
  color: #292929;
  color: #ffffff;
}
.main-condition {
  padding-top: 2.6rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 2.2rem;
  color: #292929;
  text-transform: uppercase;
}
.main-form {
  background-color: #ffffff;
  padding: 3.3rem 3.6rem;
  text-align: center;
}
.main-form-header {
  margin-bottom: 4rem;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 1.8rem;
  color: #292929;
}
.main-form-header strong {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 1.8rem;
  color: #292929;
}
.main-form label {
  position: absolute;
  padding: 0.5rem;
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 1.3rem;
  color: #292929;
}
.main-form input {
  display: block;
  margin-bottom: 2.5rem;
  width: 100%;
  height: 4.5rem;
  border-radius: 5px;
  border: #dddddd solid 1px;
  text-align: center;
}
.main-form-reference {
  margin-top: 1.5rem;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 1.2rem;
  color: #292929;
}
.main-reference {
  margin-top: 3.6rem;
  margin-left: 3rem;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 1.2rem;
  color: #292929;
}
.header {
  height: 7em;
}
.phone {
  display: inline-block;
  height: 7rem;
  line-height: 7rem;
  text-align: right;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 2rem;
  color: #292929;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.button {
  background: #ffb504;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  transition: all 0.2s;
}
.button-header {
  text-transform: uppercase;
  padding: 1rem 3rem;
}
.button-form {
  display: block;
  width: 100%;
  padding: 2.7rem 5.5rem;
  text-transform: uppercase;
}
.button:hover {
  cursor: pointer;
  background-color: #d09300;
}
@media (max-width: 991px) {
  * {
    text-align: center;
  }
  .main {
    background-position: top right;
  }
  .main-content {
    margin-top: 4rem;
  }
  .main-form {
    margin-top: 3rem;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .wrap-block,
  .phone {
    text-align: center;
  }
  .main-form {
    text-align: center;
  }
}
@media (max-width: 515px) {
  html {
    font-size: 6px;
  }
}
